:root {
    --primary-color: rgb(238, 77, 45);
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc((var(--header-height)) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__column-2-5 {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--scale-from));
    }
    to {
        transform: scale(var(--scale-to));
    }
    
}

/* Modal layout */
.modal {
    position: fixed;
    top: 0;
    right: 0;

    bottom: 0;
    left: 0;
    /* display: flex; */
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.modal__body {
    
    background-color:var(--white-color);
    margin: auto;    
    position: relative;
    z-index: 2;
    border-radius: 3px;
    animation: growth linear 0.1s;
    --scale-from: 0.7;
    --scale-to: 1;
}


/* Button style */
.btn {
    min-width: 54px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 5px;
    cursor: pointer;
    color: var(--text-color);   
    display: inline-flex; 
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

/* Pagination */
.pagination {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.pagination-wrap {
    margin: 40px auto 158px auto;
    padding-left: 0;
}

.pagination-item {
    list-style: none;
    margin: 0 20px;

}

.pagination-item-link {
    text-decoration: none;
    color: #AAAAAA;
    min-width: 40px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 3.1rem;

}

.pagination-item-link:hover {
    color: var(--primary-color);
}

.pagination-item .pagination-item-link-active {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

.pagination-item-link-active:hover {
    background-color: #f35c3e;
}