.title-no-pointer {
    cursor: auto;
    color: rgba(255, 255, 255, 1)
  
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6533, #f53d2d);
}

.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}

.navbar__list--item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.navbar__list--item-has-qr:hover .navbar__qr-code {
    display: block;
}

.navbar__list--item-link {
    text-decoration: none;
}

.navbar__list--item-link,
.navbar__list--item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.68rem;
}

.navbar__list--item-link,
.navbar__list--item,
.navbar__list--icon-link {
    display: inline-flex;
    align-items: center;
    


}
.navbar__list--icon:hover,
.navbar__list--item-link:hover,
.navbar__list--item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.navbar__list--item:hover .navbar__notify {
    display: block;
}

.navbar__list--item--strong {
    font-weight: 500;
}

.navbar__list--item--separate:after {
    content:"";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FA8F82;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list--icon-link {
    color: var(--white-color);
    text-decoration: none;

}

.navbar__list--icon-link:nth-child(2) {
    padding-left: 3px;
}
.navbar__list--icon {
    font-size: 18px;
    margin: 4px;
}

/* Header QR code */
.navbar__qr-code::before,
.navbar__notify::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    top: -15px;
    left: -2px;

}

.navbar__qr-code {
    background-color: var(--white-color);
    width: 185px;   
    position: absolute;
    top: 118%;
    border: 2px solid var(--white-color);
    border-radius: 2px;
    display: none;   
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
}


.navbar__qr-img {
    width: 100%;
}

.navbar__apps {
    /* display:flex;
    flex-wrap: wrap; */
    margin: 0 12px;
}

.navbar__app-separate {
    display: flex;
    justify-content: space-between  ;
    margin: 0 2px;
    
}

.navbar__qr-download {
    height: 16px;
    width: 70px;
    margin-bottom: 8px;
}

/* Header Notification */
.navbar__notify {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    animation: headerNotifyGrowth ease 0.2s;
    -webkit-animation: headerNotifyGrowth ease 0.2s;
    -ms-animation: headerNotifyGrowth ease 0.2s;
    -o-animation: headerNotifyGrowth ease 0.2s;
    -moz-animation: headerNotifyGrowth ease 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.navbar__notify::after {
    content: "";
    border: 13px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 27px;
    top: -26px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
        transform-origin: calc(100% - 12px) top;

    }
    to {
        opacity: 1;
        transform: scale(1);
        transform-origin: calc(100% - 12px) top;

    }
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    user-select: none;
}




.navbar__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
}

.navbar__notify-list {
    padding-left: 0;
}

.navbar__notify-footer:hover,
.navbar__notify-item:hover {
    background-color: #eeeeee3b;
}

.navbar__notify-item--viewed {
    background-color: rgb(238, 77, 45, 0.08);
}

.navbar__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px 12px;
}

.navbar__notify-img {
    height: 40px;
    width: 40px;
}

.navbar__notify-info {
    margin-left: 6px;
}

.navbar__notify-sub-header {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 300;
    line-height: 1.8rem;
}

.navbar__notify-description {
    font-size: 1.2rem;
    color: #bdbdbd;
    line-height: 1.4;
    margin-top: 4px;
}

.navbar__notify-detail-img {
    width: 82px;
}

.navbar__notify-desc-img {
    width: 100%;
}

.navbar__notify-footer {
    background-color: var(--white-color);

}

.navbar__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 12px 0;
    text-align: center;
    display: block;
}

/* Header user info */
.navbar__list--user {
    position: relative;
    justify-items: center;
}

.navbar__list--user:hover .navbar__user-info {
    display: block;
}

.navbar__list--user-img {
    width: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar__list--user-name {
    font-size: 1.3rem;
    padding-left: 4px;
}

.navbar__user-info {
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    width: 152px;
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 0px 2px 0px #666;
    transform-origin: calc(100%-12px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
}

.navbar__user-info::before {
    content:"";
    display: block;
    position: absolute;
    border: 13px solid;
    border-color:  transparent transparent var(--white-color) transparent;
    top: -26px;
    right: 18px;
}

.navbar__user-info::after {
    content:"";
    display: block;
    position: absolute;
    width: 110px;
    right: 0;
    top: -9px;
    height: 10px;
}

.navbar__user-info-list {
    list-style: none;
    font-size: 1.4rem;
    padding-left: 0;
}

.navbar__user-info-item:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05)
}

.navbar__user-info-item {
    padding: 15px 16px;
    display: block;
}

.navbar__user-info-item:hover {
    background-color: #fafafa;
    color: #1ec6af;
}
/* Authentication form */
.auth-form {
    /* width: 400px; */
}

.auth-form-container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;

}

.auth-form_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form_input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
    width: 100%;
    padding-right: 32px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    width: 400px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;

}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    margin: 80px 0 24px 0;
    padding-right: 32px;


}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.auth-form__social-icon {
    font-size: 1.8rem;   
}

.auth-form__social--facebook  {
    color: var(--white-color);
}

.auth-form__social .auth-form__social--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__social-lable {
    margin: 0 4px;
}

.auth-form__social--google {
    color: #666;
    background-color: var(--white-color);

}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -2px 16px 0;
}

.auth-form__help-forget {
    color: var(--primary-color);
}


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
    padding-left: 10px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;

}

.header__search--input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search--input {
    height: 100%;
    width: 100%;
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 0 0 12px;
}

.header__search-separate {
    display: block;
    border-left: 1px solid #E8E8E8;
    height: 30px;
}

.header__search-select {
    padding: 0 0 0 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
}

.header__search-select-icon {
    color:#939393;
    margin: 0 8px;
}

.header__search-btn {
    background-color: #fb5533;
    color: var(--white-color);
    height: 34px;
    width: 60px;
    margin-right: 3px; 
    outline: none;
    border: none;
    border-radius: 2px;

}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;

}

.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option {
    background-color: var(--white-color);
    position: absolute;
    list-style: none;
    width: 144px;
    right: 0;
    padding-left: 0;
    /* margin: 0; */
    box-shadow: 0 1px 1px rgb(234, 229, 229);
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -15px;
    background-color: transparent;
    position: absolute;
}

.header__search-option--item {
    display: flex;
    padding: 18px 0 12px 16px;

}

.header__search-option--item:hover {
    background-color: #fafafa;
}

.header__search-option i {
    color: var(--primary-color);
    margin-left: 10px;
    display: none;
}

.header__search-option--item-active i {
    display: inline-block;
}


.header__search--input:focus ~ .header__search--history {
    display: block;
}
/* Search history */
.header__search--history {
    position: absolute;
    background-color: var(--white-color);
    width: calc(100% - 16px);
    left: 0;
    top: calc(100% + 2px);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden; 
}

.header__search--history-heading {
    margin: 10px 12px;
    font-size: 1.4rem;
    color: rgba(0,0,0,.26);
    font-weight: 400;
}

.header__search--history-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

}

.header__search--history-list-item {
    height: 36px;
    padding: 0 12px;
    line-height: 36px;

}

.header__search--history-list-item:hover {
    background-color: #fafafa;
}

.header__search--history-list-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}

/* Cart Section */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    position: relative;

}

.header__cart-notice {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    right: -2px;
    top: -11px;
    width: 27px;
    border: 2px solid #EE4D2D;
    border-radius: 10px;
    font-size: 1.6rem;
    padding-top: 1px;;


}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    top: -26px;
    right: 7px;
    width: 0px;
    background-color: transparent;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;   
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    right: 4px;
    top: calc(100% + 11px);;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    transform-origin: calc(100%-12px) top;
    animation: headerNotifyGrowth ease 0.2s;
    cursor: default;
    display: none;
}

/* No cart */
.header__cart-list--no-cart {
    padding: 28px 0;
    display: flex;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart--no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    margin-top: 14px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: none;

}

/* Cart list */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style-type: none;
}

.header__cart-item {
    display: flex;
    align-items: center;

}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 44px;
    height: 44px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    height: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
}

.header__cart-item-name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6rem;
}

.header__cart-item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desc {
    color: #757575;
    font-size: 1.2rem;
}


.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;

}

.header__cart-view {
    float: right;
    margin: 0 12px 12px 0;
}

.btn.header__cart-view:hover {
    background-color: #F05D41;
}