.title-no-pointer {
    cursor: auto;
    color: rgba(255, 255, 255, 1)
  
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ff6533, #f53d2d);
}

.navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.navbar__list {
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}

.navbar__list--item {
    margin: 0 8px;
    position: relative;
    min-height: 18px;
}

.navbar__list--item-has-qr:hover .navbar__qr-code {
    display: block;
}

.navbar__list--item-link {
    text-decoration: none;
}

.navbar__list--item-link,
.navbar__list--item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 400;
    line-height: 1.68rem;
}

.navbar__list--item-link,
.navbar__list--item,
.navbar__list--icon-link {
    display: inline-flex;
    align-items: center;
    


}
.navbar__list--icon:hover,
.navbar__list--item-link:hover,
.navbar__list--item:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.navbar__list--item:hover .navbar__notify {
    display: block;
}

.navbar__list--item--strong {
    font-weight: 500;
}

.navbar__list--item--separate:after {
    content:"";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FA8F82;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__list--icon-link {
    color: var(--white-color);
    text-decoration: none;

}

.navbar__list--icon {
    font-size: 18px;
    margin: 4px;
}

/* Header QR code */
.navbar__qr-code::before,
.navbar__notify::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    top: -15px;
    left: -2px;

}

.navbar__qr-code {
    background-color: var(--white-color);
    width: 185px;   
    position: absolute;
    top: 118%;
    border: 2px solid var(--white-color);
    border-radius: 2px;
    display: none;   
    animation: fadeIn ease-in 0.3s;
}


.navbar__qr-img {
    width: 100%;
}

.navbar__apps {
    /* display:flex;
    flex-wrap: wrap; */
    margin: 0 12px;
}

.navbar__app-separate {
    display: flex;
    justify-content: space-between  ;
    margin: 0 2px;
    
}

.navbar__qr-download {
    height: 16px;
    width: 70px;
    margin-bottom: 8px;
}

/* Header Notification */
.navbar__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    transform-origin: calc(100%-12px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.navbar__notify::after {
    content: "";
    border: 13px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 27px;
    top: -26px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.navbar__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    user-select: none;
}




.navbar__notify-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
}

.navbar__notify-list {
    padding-left: 0;
}

.navbar__notify-footer:hover,
.navbar__notify-item:hover {
    background-color: #eeeeee3b;
}

.navbar__notify-item--viewed {
    background-color: rgb(238, 77, 45, 0.08);
}

.navbar__notify-link {
    display: flex;
    text-decoration: none;
    padding: 2px 12px;
}

.navbar__notify-img {
    height: 40px;
    width: 40px;
}

.navbar__notify-info {
    margin-left: 6px;
}

.navbar__notify-sub-header {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 300;
    line-height: 1.8rem;
}

.navbar__notify-description {
    font-size: 1.2rem;
    color: #bdbdbd;
    line-height: 1.4;
    margin-top: 4px;
}

.navbar__notify-desc-img {
    width: 100%;
}

.navbar__notify-footer {
    background-color: var(--white-color);

}

.navbar__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 12px 0;
    text-align: center;
    display: block;
}

/* Authentication form */
.auth-form {
    /* width: 400px; */
}

.auth-form-container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;

}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;

}

.auth-form_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form_input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
    width: 100%;
    padding-right: 32px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    width: 400px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;

}

.auth-form__control {
    display: flex;
    justify-content: flex-end;
    margin: 80px 0 24px 0;
    padding-right: 32px;


}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.auth-form__social-icon {
    font-size: 1.8rem;   
}

.auth-form__social--facebook  {
    color: var(--white-color);
}

.auth-form__social .auth-form__social--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__social-lable {
    margin: 0 4px;
}

.auth-form__social--google {
    color: #666;
    background-color: var(--white-color);

}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;

}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -2px 16px 0;
}

.auth-form__help-forget {
    color: var(--primary-color);
}


/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;

}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;

}

.header__search--input {
    height: 100%;
    width: 100%;
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.4rem;
    opacity: 0.8;
    padding: 0 0 0 10px;
    flex: 1;
}

.header__search-separate {
    display: block;
    border-left: 1px solid #E8E8E8;
    height: 30px;
}

.header__search-select {
    margin: 0 0 0 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    position: relative;
}

.header__search-select-icon {
    color:#939393;
    margin: 0 8px;
}

.header__search-btn {
    background-color: #fb5533;
    color: var(--white-color);
    height: 34px;
    width: 60px;
    margin-right: 3px; 
    outline: none;
    border: none;
    border-radius: 2px;

}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;

}

.header__search-option {
    background-color: var(--white-color);
    position: absolute;
    list-style: none;
    width: 140px;
    right: 0;
}

.header__search-option--list {

}

.option__list-check {
    display: inline-block;
    color: var(--primary-color);
}